<div class="mystery-visits-panel dash-panel">
	<div class="list-controls">
		<div class="legend pull-right">
			<i class="fa fa-circle-o" style="color:#73a468"></i><small> Score &ge; 85pts</small> &nbsp;&nbsp;
			<i class="fa fa-circle-o" style="color:#ae484c"></i><small> Score &lt; 75pts</small>
		</div>
		<div class="clearfix"></div>
	</div>
	<div ui-grid="vm.gridOptions" class="grid list-grid vm-list-grid" ui-grid-pinning></div>
	<div class="list-controls">
		<button class="btn btn-lg btn-default custom-btn pull-right">T&eacute;l&eacute;charger en Excel</button>
		<div class="clearfix"></div>
	</div>
</div>