<div class="dash-panel vm-scores-page">
	<div class="scores-page-container">
		<div class="controls-scores-page">
			<div class="view-field">
				<button class="btn btn-default" z-show-hide-cols dropdown=".view-hide-columns">
					<i class="fa fa-eye-slash"></i> D&eacute;tail
				</button>
				<div class="view-hide-columns">
					<ul class="group">
						<li><input type="checkbox" checked>  Environment
							<ul class="subgroup">
								<li><input type="checkbox"> QX</li>
								<li><input type="checkbox"> QY</li>
							</ul>
						</li>
						<li> <input type="checkbox" checked> Accueil
							<ul class="subgroup">
								<li><input type="checkbox" ng-model="vm.gridOptions.columnDefs[7].visible" ng-click="vm.refreshCols()"> Q1</li>
								<li><input type="checkbox"> QY</li>
							</ul>
						</li>
						<li> <input type="checkbox" checked> Prise de commande
							<ul class="subgroup">
								<li><input type="checkbox"> QX</li>
								<li><input type="checkbox"> QY</li>
								<li><input type="checkbox"> QZ</li>
							</ul>
						</li>
						<li> <input type="checkbox" checked> Equippe
							<ul class="subgroup">
								<li><input type="checkbox"> QX</li>
								<li><input type="checkbox"> QY</li>
							</ul>
						</li>
						<li> <input type="checkbox" checked> D&eacute;part
							<ul class="subgroup">
								<li><input type="checkbox"> QX</li>
								<li><input type="checkbox"> QY</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="group-by">
				<div class="btn-group">
					<button class="btn btn-primary btn-selected">Restaurant</button>
					<button class="btn btn-default">Multi-franchise</button>
					<button class="btn btn-default">R&eacute;gion</button>
					<button class="btn btn-default">R&eacute;seau</button>
				</div>	
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="legend pull-right">
			<i class="fa fa-circle-o" style="color:#73a468"></i><small> Score &ge; 85pts</small> &nbsp;&nbsp;
			<i class="fa fa-circle-o" style="color:#ae484c"></i><small> Score &lt; 75pts</small>
		</div>
		<br>
		<div ui-grid="vm.gridOptions" class="grid scores-grid vm-scores-grid" ui-grid-pinning></div>
		<br>
		<br>
		<div class="pull-left">
			<div class="btn-group">
				<button class="btn btn-default">10</button><button class="btn btn-default">25</button><button class="btn btn-default">50</button><button class="btn btn-default">100</button>
			</div>
		</div>
		<div class="pull-right"><button class="btn btn-lg btn-default custom-btn">T&eacute;l&eacute;charger en Excel</button></div>
		<div class="clearfix"></div>
	</div>
</div>