.scores-page-container {
	margin:10px;
}

.score-score, .pdf-download{
	padding: 3px !important;
}

.score-score, .filled, .pdf-download, .client-status-icon{
	padding: 5px;
	font-size: 10pt;
	text-align: center;
	margin: 2px auto;
	width: 30px;
	height: 30px;
	border-radius: 100%;	
}

.score-score.score-bad {
	border: 2px solid #ae484c;
	color: #ae484c;
	background: none;
}

.pdf-download {
	border: 2px solid #666;
	color: #666;
	background: none;
}

.client-status-icon{
	border: none;
	color: #fff;
	background: none;
	font-size: 12pt;
	padding: 1px;
}

.client-status-icon.ambassadeur {
	background: #73a468;
	border: 2px solid #73a468;
	text-shadow: 0px 1px 3px #505050;
}

.client-status-icon.alertant {
	background: #ae484c;
 	border: 2px solid #ae484c;
 	text-shadow: 0px 1px 3px #505050;
}


.score-score.score-good {
	border: 2px solid #73a468;
	color: #73a468;
	background: none;
}

.controls-scores-page div:first-child {
	float: left;
	margin-right: 10px;
}

.controls-scores-page div span {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12pt;
}

.filled.score-bad,
.filled.score-bad,
.filled.score-bad{
	background: #ae484c !important;
	color: #fff !important;
}

.filled.score-good,
.filled.score-good,
.filled.score-good{
	background: #73a468 !important;
	color: #fff !important;
}

.vm-scores-grid .ui-grid-cell:nth-child(1), .vm-scores-grid .ui-grid-header-cell:nth-child(1),
.vm-scores-grid .ui-grid-cell:nth-child(4), .vm-scores-grid .ui-grid-header-cell:nth-child(4),
.vm-scores-grid .ui-grid-footer-cell:nth-child(1), .vm-scores-grid .ui-grid-footer-cell:nth-child(4)  {
	box-sizing: border-box;
	border-right: 1px solid;
	border-width: 1px;
	border-right-color: #aeaeae;
}

.surveys-scores .ui-grid-cell:nth-child(5), .surveys-scores .ui-grid-cell:nth-child(2),
.surveys-scores .ui-grid-header-cell:nth-child(5), .surveys-scores .ui-grid-header-cell:nth-child(2),
.surveys-scores .ui-grid-footer-cell:nth-child(5), .surveys-scores .ui-grid-footer-cell:nth-child(2){
	box-sizing: border-box;
	border-right: 1px solid;
	border-width: 1px;
	border-right-color: #aeaeae;
}

.vm-list-grid .ui-grid-cell:nth-child(6) ,
.vm-list-grid .ui-grid-header-cell:nth-child(6){
	box-sizing: border-box;
	border-right: 1px solid;
	border-left: 1px solid;
	border-width: 1px;
	border-color: #aeaeae;
}

.vm-list-grid .ui-grid-cell:nth-child(10) ,
.vm-list-grid .ui-grid-header-cell:nth-child(10){
	box-sizing: border-box;
	border-left: 1px solid;
	border-width: 1px;
	border-color: #aeaeae;
}

.vm-scores-page {
	background: #f7eee7;
	box-shadow: #d6d6d6 0px 0px 6px;
	border: 1px solid #d6d6d6;
}
.ui-grid-footer-panel{
	height: 50px!important;
	background: #fff;
	outline: 2px solid #ccc;
}

.ui-grid-footer-cell {
	padding: 10px;
	border: none;
}

.legend{
	margin-top: -22px;
		font-weight: bold;
}

.view-hide-columns {
	margin-top: -5px;
	padding: 10px;
	width: 200px;
	border: 1px #ccc solid;
	position: absolute;
	z-index: 9;
	display: none;
	background: #fff;
	box-shadow: 1px 2px 15px 1px #ccc;
}

.view-hide-columns ul.group > li {
	list-style-type: none;
	margin-left: -20px;
	font-size: 10pt;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.view-hide-columns ul {
	margin-left: -15px;
}
.view-hide-columns ul.subgroup > li {
	font-weight: normal;
	list-style-type: none;
}

