@import url(http://weloveiconfonts.com/api/?family=entypo|fontelico);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}



body {
	font-family: 'Open Sans', sans-serif;
}
.modal-backdrop.am-fade {
	background-color: rgba(0, 0, 0, 0.3);
}

.app-container .content-container .side-menu .navbar-nav li.active>a {
	width: 100%;
}

.main-ui-view {
	max-width: 100em;
	margin: auto;
	height: 100%;
}

.navbar {
	max-width: 100em;
	margin: auto;
}

.app-container {
	background: #f8f8f8;
	box-shadow: #444 0px 0px 10px;
}

.navbar-nav .panel-body  {
	padding: 0px;
}

.navbar-nav .panel-body .navbar-nav {
	width: 100%;
}

.grid {
  width: 100%;

}
.ui-grid-top-panel {
	font-size: 10pt;
	font-family: 'Open Sans Condensed', sans-serif;
	background: #ffffff;
	text-align: center;
}
.ui-grid-viewport{
/*	overflow: auto !important;*/
}

.ui-grid-row, .ui-grid-cell, .ui-grid-vertical-bar{
	height: 50px !important;
}
.ui-grid-cell, .ui-grid-header-cell {
	border: none;
	padding: 8px 0;
}
.ui-grid-header-cell {
	text-align: center;
}
.ui-grid-cell-contents{
	padding: 8px;
	text-align: left;
}
.custom-btn{
    background-color: #cf002f;
    border: 1px solid #cf002f;
    box-shadow: 0px 1px 3px #969696;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    margin: 10px 0;
    transition: 0.3s;
}

.btn-selected{
	background-color: #565657;
	border-color: #565657;
}

#ratings-legend img{
	width: 150px;
}

.ui-grid {
	border: 2px solid #ccc;
}

.list-controls {
	padding: 15px  0;
}

.service-time i {
	font-size: 15pt;
	width: 40px;
	text-align: center;
	color: #cf002f ;
}