<div class="dash-panel">
	<div class="survey-details-container">
		<div class="pull-right"><a role="button" ng-click="vm.goBack()"><i class="fa fa-arrow-left fa-2x"></i></a></div>
		<div class="row">
			<div class=" division client-info" ng-class="{'col-md-8': vm.stateParams.mode != 'alertant', 'col-md-5': vm.stateParams.mode == 'alertant'}">
				<br>
				<div class="title">Client Info</div>
				<div class="row">
					<div class="col-md-5">
						<img src="img/satisfaction/1.svg" height="80">
					</div>
					<div class="col-md-7">
						<div class="client-info-basic-table">
							<strong>Nom du client</strong><br>
							Monsieur INES, Crisdell James
							<br>
							<strong>Code client</strong><br>
							99XD24
							<br>
							<strong>Nivaue de fidelit&eacute;</strong><br>
							1
						</div>
					</div>
				</div>
				<div class="client-info-table">
					<table class="table table-condensed table-striped">
						<tbody>
							<tr>
								<th><i class="fa fa-calendar"></i> Date du passage en restaurant</th>
								<td>11/01/16</td>
							</tr>
							<tr>
								<th><i class="fa fa-send"></i> Adresse mail</th>
								<td>crisdell.james@zoop.net</td>
							</tr>
							<tr>
								<th><i class="fa fa-phone-square"></i> T&eacute;l indiqu&eacute; dans le sondage</th>
								<td>33779000752</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-7 division alert-resolution" ng-if="vm.stateParams.mode == 'alertant'">
				<div class="title">Alerte Traitement</div>
				<div class="alert-resolution-panel">
					<div class="row">
						<div class="col-md-3">
							<b>Statut</b>
							<ul class="alert-status-controls">
								<li><input type="radio" name="alertStatus"> <span class="label label-danger">Non trait&eacute; </span></li>
								<li><input type="radio" name="alertStatus"> <span class="label label-warning">En cours </span></li>
								<li><input type="radio" name="alertStatus" checked="checked"> <span class="label label-success">Trait&eacute; </span></li>
							</ul>
						</div>
						<div class="col-md-4">
							<div>
								<b>Responsable</b>
								<input class="form-control input-sm">
							</div>
							<div>
								<b>Date</b>
								<input class="form-control input-sm" ui-date>
							</div>
						</div>
						<div class="col-md-5">
							<b>Commentaire</b>
							<textarea class="form-control alert-comments"></textarea>
						</div>
						<div class="col-md-12" id="save-alert-treatment">
							<button class="btn btn-default btn-sm pull-right"><i class="fa fa-save"></i> Sauvegarder</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<b>Historique de traitement</b>
							<div class="alert-history">
								<div class="alert-history-log">
									<div class="title">Systeme <small><i class="fa fa-calendar"></i> 11/11/16 <i class="fa fa-clock-o"></i> 11h 32 </small><span class="label label-danger">Non trait&eacute;</span></div>
									<i> Notification envoy&eacute;e</i>
								</div>
								<div class="alert-history-log">
									<div class="title">Jean Luc <small><i class="fa fa-calendar"></i> 11/11/16 <i class="fa fa-clock-o"></i> 13h 32 </small><span class="label label-warning">En cours</span></div>
									Je vais appeler le client.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 division survey-answers">
				<div class="title">Reponses</div>
				<div class="survey-answers">
					<div ng-repeat="q in vm.survey.questions" class="col-md-6 answer-row">
						<div class="col-xs-9 col-lg-10 answer-q">{{q.q}}</div>
						<div class="col-xs-3 col-lg-2 answer-a">
							{{q.a}}
							<a role="button" class="pull-right" ng-if="q.verbatim"><i class="fa fa-lg fa-comment-o"></i></a>
							<a role="button" class="pull-right" ng-if="q.plus"><i class="fa fa-lg fa-plus-circle"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
