<div class="row dash-panel" style="margin-top: 10px;">
	<div class="col-md-12">
		<h3 class="dash-panel-title">LISTE DES SONDAGES</h3>
		<div ui-grid="vm.gridOptions" class="grid"></div>
	</div>
	<div class="col-md-12">
		<div class="pull-left">
			<div class="btn-group">
				<button class="btn btn-default">10</button><button class="btn btn-default">25</button><button class="btn btn-default">50</button><button class="btn btn-default">100</button>
			</div>
		</div>
		<div class="pull-right"><button class="btn btn-lg btn-default custom-btn">T&eacute;l&eacute;charger en Excel</button></div>
		<div class="clearfix"></div>
	</div>
</div>