<div class="dash-panel">
	<a class="collapse-evolution-chart" collapse-evolution-chart></a>
	<div class="pro-det-evolution-chart-container">
		<div class="controls-scores-page">
			<h3 class="dash-panel-title pull-left" >Graphique d'evolution</h3>
			<div class="btn-group pull-right">
				<button class="btn btn-primary btn-selected">Semaine</button>
				<button class="btn btn-default">Mois</button>
				<button class="btn btn-default">Ann&eacute;e</button>
			</div>	
		</div>
		<div pro-det-evolution-chart options="vm.chartOptions" class="pro-det-evolution-chart"></div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="dash-panel">
	<div class="legend pull-right">
		<br><br>
		<i class="fa fa-circle-o" style="color:#73a468"></i><small> Score &ge; 90pts</small> &nbsp;&nbsp;
		<i class="fa fa-circle-o" style="color:#ae484c"></i><small> Score &le; 60pts</small>
	</div>
	<div class="btn-group">
		<button class="btn btn-primary btn-selected">Restaurant</button>
		<button class="btn btn-default">Multi-franchise</button>
		<button class="btn btn-default">R&eacute;gion</button>
		<button class="btn btn-default">R&eacute;seau</button>
	</div>	

	<div class="clearfix"></div>
	<div ui-grid="vm.gridOptions" class="grid scores-grid surveys-scores" ui-grid-pinning></div>
	<div class="clearfix">
	<br><br>
	<div class="pull-left">
		<div class="btn-group">
			<button class="btn btn-default">10</button><button class="btn btn-default">25</button><button class="btn btn-default">50</button><button class="btn btn-default">100</button>
		</div>
	</div>
	<button id="excel-btn" class="btn btn-lg btn-default pull-right custom-btn" ng-click="vm.testHide()"><i class="fa fa-file-excel-o"></i> T&eacute;l&eacute;charger en Excel</button> 
	</div>
</div>