.survey-details-container {
	margin: 15px;
}
.survey-details-container .title {
	font-size: 14pt;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.client-info-basic-table {
	font-size: 11pt;
}

.client-info-table {
	padding: 5px;
}

.client-info-table .header {
	font-weight: bold;
}

.client-info-table .value {

}

.client-info-table .value, .client-info-table .header {
	margin-bottom: 10px;
}

.alert-resolution-panel {
	padding: 10px;
	background: #f5f5f5;
	margin: 2px 10px;
}

.alert-status-controls {
	margin-top: 10px;
	margin-left: -15px;
	list-style-type: none;
}

.alert-comments {
	min-height: 78px;
	font-size: 9pt;
}
.alert-status-controls {
	margin-top: 10px;
}

.alert-history {
	margin: 5px;
}

.alert-history-log {
	margin: 2px 0px;
	background: #fff;
	padding: 5px;
}
.alert-history-log .title {
	font-size: 10pt;
	font-family: 'Open Sans', sans-serif;
	margin: 2px;
}

#save-alert-treatment {
	margin-top: -30px;
	margin-bottom: 0px;
}

.survey-answers  {

}

.answer-row {
	padding: 5px;
}

.answer-a {
	font-weight: bold;
}

.answer-q {
	text-overflow: ellipsis;
}

.answer-a, .answer-q {
	border-bottom: 1px solid #dedede;
	padding-bottom: 10px;
}

.answer-row:hover {
	color: #444;
}

.collapse-evolution-chart {
	font-size: 9pt;
}

.ui-grid-header-cell:nth-child(3), .ui-grid-cell:nth-child(3),
.ui-grid-header-cell:nth-child(6), .ui-grid-cell:nth-child(6){
	border-right: 1px solid #ddd;
}