body {
	background: url('../../img/bg.jpg');
	background-attachment: fixed;
}

.navbar > .container-fluid,  .navbar.navbar-default > .container-fluid {
 	background-color: #cf002f;
 	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #eee;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background: #cf002f;
	color: #fff;
}

.navbar .dropdown.profile .dropdown-menu .profile-info {
	color: #222;
}

.navbar .navbar-breadcrumb > li {
	color: #fff;
}

.app-container .content-container .side-menu {
	background: #444;
	color: #222;
}

.side-menu .navbar-default .navbar-nav>li>a {
	color: #eee;
}


.app-container .content-container .side-menu .navbar-nav li {
	background: #444;
	color: #eee;
}

.app-container .content-container .side-menu .navbar-nav li.active>a {
	background: #cf002f;
	color: #fff;
}

#app-logo {
	height: 50px;
	margin-top: 5px;
}

.app-container .content-container .side-menu .navbar-header {
	background-color: #444;
}

.navbar-default .navbar-brand .fa, .navbar-default .navbar-brand .title {
	color: #cf002f;
}

.side-menu-container .nav .icon.fa {
	padding: 7px;
    background-color: #cf002f;
    color: #fff;
    border-radius: 15px;
    height: 30px;
    width: 30px!important;
}

.side-menu-container .nav .active .icon.fa {
	background-color: #fff;
	color: #cf002f;
}


#scoreGlobal .pie-ring-0.pie-ring-fill-0 {
	fill: #aaa;
}

#scoreGlobal .pie-ring-1.pie-ring-fill-0 {
	fill:#8786a2;
}


.navbar-nav .panel-body .navbar-nav.nav li.active>a {
	background-color: #656565;
}

