<!DOCTYPE html>
<html ng-app="zoop.groupFlo" ng-controller="HtmlHeadController as h" lang="fr">

<head>
	<title>{{h.brand.getTitle()}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,700,900' rel='stylesheet' type='text/css'>
	<!-- CSS Libs -->
	<link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/bootstrap-switch.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/checkbox3.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/dataTables.bootstrap.css">
	<link rel="stylesheet" type="text/css" href="lib/css/select2.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/ng-animation.css">
	<link rel="stylesheet" type="text/css" href="lib/css/ui-grid.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="lib/css/weather-icons.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/weather-icons-wind.min.css">
	<!-- CSS App -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/themes/flat-blue.css">
	<link rel="stylesheet" type="text/css" href="css/zoop.css">
	<link rel="stylesheet" type="text/css" ng-href="css/themes/{{h.brand.active}}.css">
	<link rel="stylesheet" type="text/css" href="app/dashboard/views/dashboard.css">
	<link rel="stylesheet" type="text/css" href="app/actionplans/views/actionplans.css">
	<link rel="stylesheet" type="text/css" href="app/alertlist/views/alertlist.css">
	<link rel="stylesheet" type="text/css" href="app/survey/views/surveys.css">
	<link rel="stylesheet" type="text/css" href="app/mystery-visits/views/scores.css">
</head>

<body>
<div class="main-ui-view">
	<div class="app-container">
		<div class="row content-container">
			<nav class="navbar navbar-default navbar-fixed-top navbar-top" ng-controller="PageTitleController as pt">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-expand-toggle">
							<i class="fa fa-bars icon"></i>
						</button>
						<img class="hidden" ng-src="img/logo-{{h.brand.active}}.png" id="app-logo">
						<ol class="breadcrumb navbar-breadcrumb">
							<li class="active">{{pt.pageTitle.current.title}}</li>
						</ol>
						<button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
							<i class="fa fa-th icon"></i>
						</button>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
							<i class="fa fa-times icon"></i>
						</button>
						<li class="dropdown">
							<a role="button" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-map-marker"></i> R&eacute;gion : Nord</a>
						</li>
						<li class="dropdown danger">
							<a role="button" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-calendar"></i> Mois en cours</a>
							<ul class="dropdown-menu animated fadeInDown">
								<li><a role="button">S&eacute;maine en cours</a></li>
								<li class="active"><a role="button">Mois en cours</a></li>
								<li><a role="button">Ann&eacute;e en cours</a></li>
								<li><a role="button">Customis&eacute;</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a role="button" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-filter"></i> Filtres : Aucun</a>
						</li>
						<li class="dropdown profile">
							<a role="button" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> Jean Luc<span class="caret"></span></a>
							<ul class="dropdown-menu animated fadeInDown">
								<li class="profile-img hidden">
									<img src="img/profile/picjumbo.com_HNCK4153_resize.jpg" class="profile-img">
								</li>
								<li>
									<div class="profile-info">
										<div class="btn-group">
											<button class="btn btn-default" ng-class="{'btn-primary':h.brand.isActive('tabla')}" ng-click="h.brand.setActive('tabla')">Tabla Pizza</button>
											<button class="btn btn-default" ng-class="{'btn-primary':h.brand.isActive('hippo')}" ng-click="h.brand.setActive('hippo')">Hippopotamus</button>
										</div>
										<hr>
										<h4 class="username"><i class="fa fa-user"></i> Jean Luc</h4>
										<a role="button"><i class="fa fa-logout"></i> D&eacute;connexion</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<div class="side-menu sidebar-default expanded">
				<nav class="navbar navbar-default" role="navigation">
					<div class="side-menu-container">
						<div class="navbar-header">
							<a class="navbar-brand" href="#">
								<div class="icon fa fa-paper-plane"></div>
								<div class="title">{{h.brand.getTitle()}}</div>
							</a>
							<button type="button" class="navbar-expand-toggle pull-right visible-xs">
								<i class="fa fa-times icon"></i>
							</button>
						</div>
						<ul class="nav navbar-nav">
							<li ui-sref-active="active">
								<a ui-sref="dashboard">
									<span class="icon fa fa-tachometer"></span><span class="title">Tableau de bord</span>
								</a>
							</li>
							<li ui-sref-active="active" class="panel panel-default dropdown">
								<a role="button" data-toggle="collapse" data-target="#mystery-calls-dropdown">
									<span class="icon fa fa-simplybuilt"></span><span class="title">Visite Myst&egrave;re</span>
								</a>
								<!-- Dropdown level 1 -->
								<div id="mystery-calls-dropdown" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li ui-sref-active="active"><a ui-sref="mystery-visits.scores">Scores</a>
											</li>
											<li ui-sref-active="active"><a ui-sref="mystery-visits.list">Wizards</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<!-- Dropdown-->
							<li class="panel panel-default dropdown">
								<a data-toggle="collapse" data-target="#dropdown-example">
									<span class="icon fa fa-phone-square"></span><span class="title">Sondage</span>
								</a>
								<!-- Dropdown level 1 -->
								<div id="dropdown-example" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li><a ui-sref="surveys.scores">Scores</a>
											</li>
											<li><a ui-sref="surveys.list">D&eacute;tail des r&eacute;sultats</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li ui-sref-active="active">
								<a role="button" ui-sref="alertlist">
									<span class="icon fa fa-bell"></span><span class="title">Alertes</span>
								</a>
							</li>
							<li ui-sref-active="active">
								<a role="button" ui-sref="actionplans">
									<span class="icon fa fa-flag"></span><span class="title">Plan d'action</span>
								</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</nav>
			</div>
			<!-- Main Content -->
			<div class="container-fluid">
				<div class="side-body padding-top">
					<div ui-view></div>
				</div>
			</div>
		</div>
		<hr>
		<footer class="app-footer">
			<div class="wrapper">
				&copy; 2016 ZOOP / Qualimetrie.
			</div>
		</footer>
	</div>
</div>
<!-- Javascript Libs -->
<script type="text/javascript" src="lib/js/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/js/Chart.min.js"></script>
<script type="text/javascript" src="lib/js/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="lib/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="lib/js/select2.full.min.js"></script>
<script type="text/javascript" src="lib/js/ace/ace.js"></script>
<script type="text/javascript" src="lib/js/ace/mode-html.js"></script>
<script type="text/javascript" src="lib/js/ace/theme-github.js"></script>
<script type="text/javascript" src="lib/js/d3.min.js"></script>
<script type="text/javascript" src="lib/js/angular.min.js"></script>
<script type="text/javascript" src="lib/js/tc-angular-chartjs.min.js"></script>
<script type="text/javascript" src="lib/js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="lib/js/angular-ui-date.js"></script>
<script type="text/javascript" src="lib/js/angular-strap.min.js"></script>
<script type="text/javascript" src="lib/js/angular-strap.tpl.min.js"></script>
<script type="text/javascript" src="lib/js/angular-animate.min.js"></script>
<script type="text/javascript" src="lib/js/ui-grid.min.js"></script>
<script type="text/javascript" src="lib/js/highcharts.js"></script>
<!-- Javascript -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="app/Application.js"></script>
<script type="text/javascript" src="app/Routes.js"></script>
<script type="text/javascript" src="app/BrandService.js"></script>
<script type="text/javascript" src="app/GraphService.js"></script>
<script type="text/javascript" src="app/HtmlHeadController.js"></script>
<script type="text/javascript" src="app/dashboard/DashboardController.js"></script>
<script type="text/javascript" src="app/dashboard/DashboardHippoController.js"></script>
<script type="text/javascript" src="app/dashboard/DashboardTablaController.js"></script>
<script type="text/javascript" src="app/alertlist/AlertListController.js"></script>
<script type="text/javascript" src="app/actionplans/ActionPlansListController.js"></script>
<script type="text/javascript" src="app/mystery-visits/MysteryVisitsController.js"></script>
<script type="text/javascript" src="app/mystery-visits/MysteryVisitsListController.js"></script>
<script type="text/javascript" src="app/mystery-visits/MysteryVisitsScoresController.js"></script>
<script type="text/javascript" src="app/survey/SurveyListController.js"></script>
<script type="text/javascript" src="app/survey/SurveyDetailController.js"></script>
<script type="text/javascript" src="app/survey/SurveyScoresController.js"></script>
</body>
</html>
