.treatment-status {
	padding: 2px;
	font-size: 8pt;
	text-transform: uppercase;
	background: #666;
	margin: 5px 10px;
	text-align: center;
	color: #fff;
}

.treatment-status.status-1 {
	background: #ae484c;
}

.treatment-status.status-2 {
	background: #db892b;
}

.treatment-status.status-3 {
	background: #73a468;
}

.reco-score, .sati-score {
    margin: 5px auto;
    width: 30px;
    text-align: center;
    font-size: 11pt;
    color: #000;
    height: 30px;
    padding: 4px 0;
    border-radius: 100%;
}

.reco-score.score-0,.reco-score.score-1, .reco-score.score-2, .reco-score.score-3, .reco-score.score-4,  .reco-score.score-5,  .reco-score.score-6 {
	background: #ae484c;
	color: #fff;
}
.reco-score.score-7, .reco-score.score-8 {
	
}

.reco-score.score-9, .reco-score.score-10 {
	background: #73a468;
	color: #fff;
}

.sati-score.score-0,.sati-score.score-1, .sati-score.score-2, .sati-score.score-3, .sati-score.score-4,  .sati-score.score-5,  .sati-score.score-6 {
	background: #ae484c;
	color: #fff;
}
.sati-score.score-7, .sati-score.score-8 {
	
}

.sati-score.score-9, .sati-score.score-10 {
	background: #73a468;
	color: #fff;
}

.consulter-button {
    border: none;
    background: transparent;
    border-radius: 50px;
    border: 2px solid #595959;
    height: 25px;
    width: 25px;
    margin-left: 5px;
}

.day-count {
	padding: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 21px;
	font-weight: bolder;text-align: center;
	color: #cf002f;
}

.day-count span{
	color: #333;
	text-transform: uppercase;
}

.alert-chart-container {
	height: 260px;
}

.alert-chart-panel {

}