<div class="row dash-panel">
	<div class="col-md-12">
		<a z-alerts-chart-toggle>s</a>
		<br>
		<div class="alert-chart-panel">
			<div z-alerts-chart class="alert-chart-container" series="vm.alertChartOptions.series"></div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="day-count">
			1.2 J <span>Delai de traitement</span>
		</div>
	</div>
</div>

<div class="row dash-panel" style="margin-top: 10px;">
	<div class="col-md-12">
		<h3 class="dash-panel-title">LISTE DES ALERTES</h3>
		<div ui-grid="vm.gridOptions" class="grid"></div>
	</div>
</div>