#create-plan-button {
	margin-right: 15px;
	background-color: #cf002f;
	border: 1px solid #cf002f;
	box-shadow: 0px 1px 3px #969696;
}

#action-plan-table {
	background: #fff;
	box-shadow: 0px 1px 3px #aaa;
}

#action-plan-table thead th {
	font-size: 11pt;
	padding: 10px;
}

#action-plan-table tbody td {
	border: none;
}

#action-plan-page-title {
	color:#cf002f; font-family: 'Open Sans Condensed', sans-serif; font-weight: bold
}
.action-plan-table-actions {
	color: #cf002f;
	font-weight: bold;
}

.action-plan-table-actions a {
	color: #cf002f;
}

.kpi-label {
	padding: 5px;
	background: #dfdfdf;
	margin: 0px 5px;
	text-transform: uppercase;
	font-size: 8pt;
	transition: 0.3s;
}

.kpi-label:hover {
	background: #ccc;
}

.plan-status {
	color: #fff;
	padding: 5px;
	margin: 0px 5px;
	text-transform: uppercase;
	font-size: 8pt;
	width: 70px;
  display: block;
	text-align: center;
	transition: 0.3s;
}

.plan-status.status-open {
	background: #f79125;
}

.plan-status.status-pending {
	background: #0b8cb7;
}

.plan-status.status-closed {
	background: #1cc916;
}

.plan-status.status-closed:hover {
	background: #199815;
}

.plan-status.status-open:hover {
	background: #d47d22;
}

.plan-status.status-pending:hover {
	background: #066c8e;
}
