<div class="row">
	<div class="col-lg-3">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
			<input type="text" class="form-control" placeholder="Resercher" aria-describedby="basic-addon1">
		</div>
	</div>
	<div class="pull-right">
		<button class="btn btn-primary" id="create-plan-button"><i class="fa fa-plus-circle"></i> Cr&eacute;er plan d'action</button>
	</div>
</div>

<h3 id="action-plan-page-title">Liste de plan d'action</h3>
	<table id="action-plan-table" class="table table-striped">
		<thead>
			<tr>
				<th>Statut <i class="fa fa-caret-down"></i></th>
				<th>Nom d'action</th>
				<th>Indicateur cl&eacute;</th>
				<th>Date creation</th>
				<th>Date limite</th>
				<th>Date fait</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="plan in vm.actionplans">
				<td>
					<span ng-if="plan.status == 0" class="plan-status status-open">A faire</span>
					<span ng-if="plan.status == 1" class="plan-status status-pending">En cours</span>
					<span ng-if="plan.status == 2" class="plan-status status-closed">Fait</span>
				</td>
				<td>{{plan.name}}</td>
				<td>
					<span ng-repeat="kpi in plan.kpi" class="kpi-label">{{kpi}}</span>
				</td>
				<td>{{plan.dateCreation}}</td>
				<td>{{plan.dateDue}}</td>
				<td>{{plan.dateCompleted}}</td>
				<td class="action-plan-table-actions">
					<a role="button">Modifier</a> | <a role="button">Résolu</a>
				</td>
			</tr>
		</tbody>
	</table>

