<div class="brand-select">
	<div class="brand-select-option">
		<img src="img/hippo-resto.jpg" role="button" ng-click="h.brand.setActive('hippo'); $hide()">
	</div>
	<div class="brand-select-option">
		<img src="img/tabla-resto.jpg" role="button" ng-click="h.brand.setActive('tabla'); $hide()">
	</div>
	<div class="clearfix"></div>
</div>

<style type="text/css">
	.brand-select {
		width: 100%;
	}
	.brand-select-option {
		width: 48%;
		float: left;
	}

	.brand-select-option img {
		width: 95%;
		height: 210px;
		border: 6px solid #333;
		transition: 0.6s border;
	}
	.brand-select-option img:hover {
		border-color: #cf002f;
	}
</style>
