<div class="globa-score-panel">
	<h1 class="dash-panel-title">Score Global</h1>
	<div class="row">
		<div class="col-md-4">
			<div class="col-md-5">
				<div class="legend-global-score">
					<div class="first">Mon score</div>
					<div class="second">R&eacute;gion</div>
					<div class="third">Enseigne</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="score-global-label hidden">Score<br>Global</div>
				<div id="scoreGlobal"></div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="global-categories">
				<div class="global-category col-md-4">
					<div class="global-category-title">Esprit <span>Hippo</span></div>
					<div class="global-category-score">{{vm.globalScore.categories.esprit}}<small>Pts</small></div>
					<span class="global-category-denominator">100</span>
				</div>
				<div class="global-category col-md-4">
					<div class="global-category-title">Go&ucirc;t <span>Hippo</span></div>
					<div class="global-category-score">{{vm.globalScore.categories.gout}}<small>Pts</small></div>
					<span class="global-category-denominator">100</span>
				</div>
				<div class="global-category col-md-4">
					<div class="global-category-title">Label <span>Hippo</span></div>
					<div class="global-category-score">{{vm.globalScore.categories.label}}<small>Pts</small></div>
					<span class="global-category-denominator">100</span>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>