<div class="row">
	<div class="col-md-4">
		<div id="scoreGlobal" style="height: 300px"></div>
	</div>
	<div class="col-md-8">
		<div class="top"></div>	
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">
				<div class="top-flop">
					<div class="top-flop-title top-title"> <i class="fa fa-thumbs-up"></i> TOP</div>
					<ol class="top-ranking">
						<li ng-repeat="top in vm.topflop.top.data">{{top.label}}</li>
					</ol>
				</div>
			</div>
			<div class="col-md-6">
				<div class="top-flop">
					<div class="top-flop-title flop-title"> <i class="fa fa-thumbs-down"></i> FLOP</div>
					<ol class="flop-ranking">
						<li ng-repeat="flop in vm.topflop.flop.data">{{flop.label}}</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>