<h3 class="study-title">Parole de client</h3>
<div class="satisfaction-surveys-panel">
	<div class="row">
		<div class="col-md-6">
			<div class="row dash-panel nps">
				<div class="nps-pie-container col-md-4">
					<div id="npsPie">
						<div class="pie-title">NPS</div>
						<span id="npsScore">+{{vm.nps.myscore}}</span>
					</div>
				</div>
				<div class="col-md-8">
					<h1 class="dash-panel-title">Net Promoter Score 
						<a role="button" bs-popover="vm.nps.information"><i class="fa fa-info-circle"></i></a>
					</h1>
					<div class="comparison-graphs">
						<div class="comparison-graph">
							<b>+{{vm.nps.pro - vm.nps.det}}</b> Mon Score
							<div class="compare-bar">
								<div class="filled-area promoter" title="{{vm.nps.pro}}" ng-style="{'width': vm.nps.pro+'%'}"></div>
								<div class="filled-area passive" title="{{vm.nps.pas}}" ng-style="{'width': vm.nps.pas+'%'}"></div>
								<div class="filled-area detractor" title="{{vm.nps.det}}" ng-style="{'width': vm.nps.det+'%'}"></div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="comparison-graph">
							<b>+{{vm.nps.region.pro - vm.nps.region.det}}</b> R&eacute;gion
							<div class="compare-bar">
								<div class="filled-area promoter" title="{{vm.nps.region.pro}}" ng-style="{'width': vm.nps.region.pro+'%'}"></div>
								<div class="filled-area passive" title="{{vm.nps.region.pas}}" ng-style="{'width': vm.nps.region.pas+'%'}"></div>
								<div class="filled-area detractor" title="{{vm.nps.region.det}}" ng-style="{'width': vm.nps.region.det+'%'}"></div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="comparison-graph">
							<b>+{{vm.nps.company.pro - vm.nps.company.det}}</b> Enseigne
							<div class="compare-bar">
								<div class="filled-area promoter" title="{{vm.nps.company.pro}}" ng-style="{'width': vm.nps.company.pro+'%'}"></div>
								<div class="filled-area passive" title="{{vm.nps.company.pas}}" ng-style="{'width': vm.nps.company.pas+'%'}"></div>
								<div class="filled-area detractor" title="{{vm.nps.company.det}}" ng-style="{'width': vm.nps.company.det+'%'}"></div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row dash-panel">
				<div class="col-md-4 nps-pie-container">
					<div id="osatPie">
						<div class="pie-title osat">Satisfaction</div>
						<span id="osatScore">{{vm.satisfaction.myscore}}<small>pts</small></span>
					</div>
				</div>
				<div class="col-md-8">
					<h1 class="dash-panel-title">Satisfaction</h1>
					<div class="comparison-graphs">
						<div class="comparison-graph">
							<b>{{vm.satisfaction.myscore}} pts.</b> Mon score
							<div class="compare-bar">
								<div class="filled-area first" ng-style="{'width': vm.satisfaction.myscore+'%'}"></div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="comparison-graph">
							<b>{{vm.satisfaction.region}} pts.</b> R&eacute;gion
							<div class="compare-bar">
								<div class="filled-area second" ng-style="{'width': vm.satisfaction.region+'%'}"></div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="comparison-graph">
							<b>{{vm.satisfaction.company}} pts.</b> Enseigne
							<div class="compare-bar">
								<div class="filled-area third" ng-style="{'width': vm.satisfaction.company+'%'}"></div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 hidden">
			<div class="response-rate">
				<div class="bg-top"></div>
				<div class="bg-middle">
					<p class="response-rate-number">{{vm.responseRate.number}} Sondages</p>
					<p class="response-rate-number-sub">{{vm.responseRate.percentage}}% Taux de retour</p>
				</div>
				<div class="bg-bottom"></div>
			</div>
		</div>
	</div>
	
	<div class="row dash-panel mouth-to-ear verbatim-alerts-panel">
		<div class="col-md-3">
			<div class="responses-count">
				{{vm.responseRate.number}} <span>Clients</span>
			</div>
			<div class="concern-alerts">
				<div class="concern-alert-title">ALERTES</div>
				<ul>
					<li>Non trait&eacute; <a ui-sref="alertlist">{{vm.alertes.open}}</a></li>
					<li>En cours <a ui-sref="alertlist">{{vm.alertes.pending}}</a></li>
					<li>Trait&eacute; <a ui-sref="alertlist">{{vm.alertes.closed}}</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-9">
			<i class="fa fa-info-circle pull-right" data-toggle="modal" data-target="#ratings-legend" style="margin-top: 20px;"></i>
			<h1 class="dash-panel-title">&nbsp;</h1>
			<div class="verbat-container">
				<div class="verbat animate slide-left" ng-repeat="v in vm.verbatim.data" ng-if="v.timer > 0">
					<div class="verbat-heading">
						<div class="verbat-status">
							<img ng-src="img/satisfaction/{{v.clientLevel}}.svg">
						</div>
						<div class="verbat-client">{{v.shopName}}</div>
						<div class="verbat-date">{{v.surveyDate}}</div>
					</div>
					<div class="verbat-text">
						<div class="verbat-subject">
							<div class="verbat-controls">
								{{v.like}} <span ng-click="vm.verbatim.like($index)"><i class="fa fa-heart"></i></span>
								0 <span bs-modal="vm.shareViaEmail" role="button" data-template-url="app/dashboard/views/share-by-email.html"><i class="fa fa-share"></i></span>
							</div>
						</div>
						{{v.comment}}
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<br>
<h3 class="study-title"><i class="circular-body fa fa-cutlery hidden"></i> Made in Hippo</h3>
<div class="mystery-visits-panel">
	<div class="row">
		<div class="col-md-12">
			<div class="global-score-panel">
				<h1 class="dash-panel-title">Score Global</h1>
				<div class="row">
					<div class="col-md-4">
						<div class="col-md-5">
							<div class="legend-global-score">
								<div class="first">Mon score</div>
								<div class="second">R&eacute;gion</div>
								<div class="third">Enseigne</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="score-global-label hidden">Score<br>Global</div>
							<div id="scoreGlobal">
						  		<span id="scoreGlobalScore">75<small>pts</small></span>
						  	</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="global-categories">
							<div class="global-category col-md-4">
								<div class="global-category-title">Esprit <span>Hippo</span></div>
								<div class="global-category-score">{{vm.globalScore.categories.esprit}}<small>Pts</small></div>
								<span class="global-category-denominator">100</span>
							</div>
							<div class="global-category col-md-4">
								<div class="global-category-title">Go&ucirc;t <span>Hippo</span></div>
								<div class="global-category-score">{{vm.globalScore.categories.gout}}<small>Pts</small></div>
								<span class="global-category-denominator">100</span>
							</div>
							<div class="global-category col-md-4">
								<div class="global-category-title">Label <span>Hippo</span></div>
								<div class="global-category-score">{{vm.globalScore.categories.label}}<small>Pts</small></div>
								<span class="global-category-denominator">100</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="steps-graph-panel">
			<h1 class="dash-panel-title">Score par &eacute;tape</h1>
			<a role="button" ng-click="vm.hideAllStep()">Cacher tous</a> / <a role="button" ng-click="vm.showAllStep()">Afficher tous</a>
			<div class="steps-graph">
				<div class="steps"
					ng-repeat="step in vm.steps |orderBy: 'step'"
					ng-style="{'width': (100/vm.showCounter) + '%'}"
					ng-if="!step.hide">
					<div class="bar-area">
						<div class="bar one" ng-style="{'padding-top': (100 - step.data[0])+'%'}" title="{{step.data[0]}}">
							<div class=""></div>
						</div>
						<div class="bar two" ng-style="{'padding-top': (100 - step.data[1])+'%'}" title="{{step.data[1]}}">
							<div class=""></div>
						</div>
						<div class="bar three" ng-style="{'padding-top': (100 - step.data[2])+'%'}" title="{{step.data[2]}}">
							<div class=""></div>
						</div>
					</div>
					<div class="legend-area">
						<div class="legend-icon" ng-click="vm.toggleStep(step)">
							<img ng-src="{{step.icon}}">
						</div>
					</div>
					&nbsp;
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<div class="steps-legend" ng-class="{'expanded':vm.showCounter<1}">
				<div ng-style="{'width': (100/vm.steps.length) + '%', 'float':'left'}"
					ng-repeat="step in vm.steps |orderBy: 'step'"
					ng-click="vm.toggleStep(step)">
					<div class="step-legend" ng-class="{'step-hidden':step.hide}" >
						<div class="title"><span ng-show="vm.showCounter>0">{{step.step}} </span> <span class="hidden-xs">{{step.name}}</span></div>
						<div ng-if="vm.showCounter<1" class="tile-area">
							<div class="score">
								<h4>{{step.data[0]}}</h4>
							</div>
							<div class="legend-icon">
								<img ng-src="{{step.icon}}">
							</div>
							<br>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-6">
				<div class="top-flop">
					<div class="top-flop-title top-title"> <i class="fa fa-thumbs-up"></i> TOP</div>
					<ol class="top-ranking">
						<li ng-repeat="top in vm.topflop.top.data">{{top.label}} <span class="top-flop-score">{{top.score}}</span></li>
					</ol>
				</div>
			</div>
			<div class="col-md-6">
				<div class="top-flop">
					<div class="top-flop-title flop-title"> <i class="fa fa-thumbs-down"></i> FLOP</div>
					<ol class="flop-ranking">
						<li ng-repeat="flop in vm.topflop.flop.data">{{flop.label}} <span class="top-flop-score">{{flop.score}}</span></li>
					</ol>
				</div>
			</div>
		</div>
	
</div>

<h3 class="study-title"><i class="circular-body fa fa-cutlery hidden"></i> Focus Viande</h3>
<div class="focus-meat">
	<div class="row">
		<div class="col-md-6">
			<div class="focus-meat-panel mystery-visit dash-panel">
				<div class="row">
					<div class="col-xs-9">
						<div class="focus-meat-score">
							{{vm.focusMeat.mysteryVisit}}<small>pts</small>
						</div>
						<div class="focus-meat-title">Made In <span>Hippo</span></div>
						<div class="note-panel">
							Question : Le plat est savoureux
						</div>
					</div>
					<div class="col-xs-3">
						<img class="focus-meat-mascot" src="img/focus-meat-1.png">
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="focus-meat-panel dash-panel">
				<div class="row">
					<div class="col-xs-9">
						<div class="focus-meat-score">
							{{vm.focusMeat.survey}}<small>pts</small>
						</div>
						<div class="focus-meat-title">Parole de <span>Client</span></div>
						<div class="note-panel">
							Question : Je recommanderai ce restaurant &agrave; mes amis, mes coll&egrave;gues pour la qualit&eacute; de ses viandes de boeuf ?
						</div>
					</div>
					<div class="col-xs-3">
						<img class="focus-meat-mascot" src="img/focus-meat-6.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal fade" id="ratings-legend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ratings</h4>
      </div>
      <div class="modal-body">
        <div class="note-panel">
        	<table class="table table-bordered">
        		<tr>
        			<td><img src="img/satisfaction/4-Enchantus.png"></td>
        			<td>Note de 9 ou 10 &agrave; la question de satisfaction</td>
        		</tr>
        		<tr>
        			<td><img src="img/satisfaction/3.png"></td>
        			<td>Note de 7 ou 8</td>
        		</tr>
        		<tr>
        			<td><img src="img/satisfaction/2-Sansplus.png"></td>
        			<td>Note de 5 ou 6</td>
        		</tr>
        		<tr>
        			<td><img src="img/satisfaction/1-Deceptus.png"></td>
        			<td>Note de 0 &agrave; 4</td>
        		</tr>
        	</table>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>