
/*** GENERAL ****/

@keyframes vertGrowAnimation {
	from {padding-top : 200px;}
	to {padding-top:;}
}
@keyframes horzGrowAnimation {
	from {width: 0px;}
	to {width:;}
}
@keyframes fadeAnimation {
	from {opacity: 0;}
	to {opacity: 1;}
}

h3.study-title {
	margin: 5px 0px;
	padding-bottom: 5px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #cf002f;
	font-size: 25pt;
	font-weight: bold;
	text-transform: capitalize;
}

.dash-panel-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14pt;
	font-weight: bold;
	text-transform: uppercase;
}

i.circular-body {
	font-size: 14pt;
	color: #ccc;
	margin-right: 5px;
	padding: 8px;
	background-color: #cf002f;
	color: #f8f8f8;
	border-radius: 15px;
	width: 33px;
	height: 32px;
	text-align: center;
}

.dash-panel {
	background: #fff;
	margin: 10px 0px;
	box-shadow: #d6d6d6 0px 0px 6px;
	border: 1px solid #fff;
    padding: 20px;
}

.dash-panel-controls {
	float: right;
	padding: 5px;
}

.dash-panel-controls a {
	padding: 5px;
	background-color: #555;
	color: #fff;
	border-radius: 15px;
	width: 30px;
}

.dash-panel.mouth-to-ear {
	background-size: 100%;
	background-color: #fff;
	background-image: url('../../../img/nps-bg.jpg');
	background-repeat: no-repeat;
}

.mystery-visits-panel {
	margin-top: 5px;
	background: #f7eee7;
	margin-bottom: 30px;
	box-shadow: #d6d6d6 0px 0px 6px;
	border: 1px solid #d6d6d6;
}

/*** END GENERAL ****/
/**** NPS & OSAT *****/
.nps-pie-container {
	color: #444;
}

#npsScore, #osatScore {
	font-size: 35pt;
	font-family: 'Open Sans Condensed';
	position: absolute;
	top: 65px;
	left: 77px;
	font-weight: bold;
}
#npsScore small, #osatScore small {
	font-size: 22pt;
	text-transform: uppercase;
}

.nps-pie-container .pie-title {
	font-size: 10pt;
	position: absolute;
	top: 66px;
	left: 102px;
	text-align: center;
	display: none;
}

.nps-pie-container .pie-title.osat {
	left: 80px;
}

/*** OSAT COMPARISON ****/
.comparison-graphs {
	width: 100%;
}

.comparison-graph {
	margin-bottom: 10px;
}
.compare-bar {
	width: 100%;
	box-shadow: #d6d6d6 0px 0px 2px;
	background-color: #fff7f0;
}
.compare-bar .filled-area{
	height: 10px;
	background-color: #ddd;
	animation-name: horzGrowAnimation;
	animation-duration: 2s;
	animation-timing-function:  transition: 0.4s cubic-bezier(.17,.67,.83,.67);
	float: left;
}
.compare-bar .filled-area.first  {
	background-color: #cf002f;
}
.compare-bar .filled-area.second  {
	background-color: #8786a2;
}
.compare-bar .filled-area.third  {
	background-color: #aaa;
}

.compare-bar .filled-area.promoter  {
	background-color: #73a468;
}
.compare-bar .filled-area.passive  {
	background-color: #fbec70;
}
.compare-bar .filled-area.detractor  {
	background-color: #ae484c;
}

.compare-bar .filled-area:hover {
	box-shadow: 0px 0px 5px #8e8e8e;
}

/*** END OSAT COMPARISON ****/

/*** RESPONSE RATE ****/
.response-rate {
	width: 367px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
.response-rate .bg-top {
	background-image: url('../../../img/wood-top.png');
	background-size: 100%;
	background-repeat: repeat-y;;
	height: 45px;
	margin:0;
}
.response-rate .bg-middle {
	background-image: url('../../../img/wood-middle.png');
	background-size: 100%;
	background-repeat: repeat-y;;
}
.response-rate .bg-bottom {
	background-image: url('../../../img/wood-top.png');
	background-size: 100%;
	background-repeat: repeat-y;;
	transform: rotate(180deg);
	height: 45px;
	margin:0;
}
.response-rate-number {
	font-size: 30pt;
	margin: 0px;
	color: #69081e;
}
.response-rate-number-sub {
	font-size: 18pt;
	margin:0px;
	color: #777;
}
/*** END RESPONSE RATE ****/

/*** STEPS GRAPH ****/
.steps-graph-panel {
	/*background: #f7eee7;
	border: 1px solid #dfdfdf;*/
	padding: 10px;
	border-top: 5px double #e2e2e2;
}
.steps-graph {
	width: 100%;
}
.steps-graph .steps {
	float: left;
	text-align: center;
}

.steps .legend-area {
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
	border-top: 1px solid #eee;
}
.steps .legend-area span {
	line-height: 25pt;
	font-size: 11pt;
}

.legend-icon {
	font-weight: bold;
	margin: auto;
	font-size: 21pt;
	width: 70px;
	height: 70px;
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
}

.legend-icon img {
	height:  100%;
}

.steps-legend {
	width: 100%;
	margin-top: 20px;
}

.step-legend {
	cursor: pointer;
	background-color: #cf002f;
	color: #fff;
	padding: 5px;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0 0%;
	box-shadow: #d6d6d6 0px 0px 6px;
	border: 1px solid #fff;
}

.step-legend .title {
	font-weight: bold;
	font-size: 12pt;
	font-family: 'Open Sans Condensed', sans-serif;
}

.step-legend:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	right: -15px;
	transform: translate(0%, -50%);
	z-index: 100001;
}
.steps-legend.expanded {
	height: 150px;
	text-transform: uppercase;
	font-size: 11pt;
}

.step-legend.step-hidden {
	background-color: #fff;
	color: #777;
	transition: 0.3s;
}

.step-legend.step-hidden:hover {
	background-color: #efefef;
	color: #777;
}

.step-legend:hover {
	background-color: #ad082d;
	color: #fff;
}

.tile-area {
	margin-top: 15px;
}


.bar-area {
	height: 200px;
	text-align: center;
	width: 80%;
	margin: 0 10%;
}

@media only screen and (min-width: 640px) {
	.bar-area {
		width: 40%;
		margin: 0 30%;
	}
}

.bar-area .bar {
	height: 100%;
	float: left;
	animation-name: vertGrowAnimation;
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(0.94, 0.17, 0.49, 0.91);
}

.bar div {
	width: 90%;
	margin: 0 5%;
	background-color: #444;
	transition: 0.3s;
	height: 100%;
	box-shadow: #d6d6d6 0px 0px 2px;
}

.one.bar {
	width: 20%;
}
.two.bar {
	width: 30%;
}
.three.bar {
	width: 50%;
}

.one.bar div  {
	background-color: #cf002f;
}
.two.bar div  {
	background-color: #8786a2;
}
.bar.three  div {
	background-color: #aaa;
}

.bar.one div:hover {
	background-color: #a51133;
	margin-bottom: 5px;
}
.bar.two div:hover {
	background-color: #706f82;
	margin-bottom: 5px;
}
.bar.three div:hover {
	background-color: #888;
	margin-bottom: 5px;
}
/*** STEPS GRAPH ****/


/*** VERBATIM ****/
.verbat-container {
	border-left: 1px solid #eee;
	
}
.verbat {
	margin-bottom: 5px;
}
.verbat-text {
	min-height: 70px;
	padding: 10px;
	box-shadow: 0px 1px 3px #ccc;
	width: 70%;
	float: right;
	text-overflow: ellipsis;transition: 0.5s;
	background-color: rgba(255,255,255, 0.5);
	font-style:  italic;
}

.verbat-text:hover {
	background:#f7eee7;
}

.verbat-controls {
	float: right;
}

.verbat-subject {
	font-weight: bold;
}

.verbat-client {
	font-weight: bold;
	color: #900726;
}
.verbat-heading {
	width: 30%;
	float: left;
	text-align: center;
}
.verbat-status {
	color: 430007;
	text-align: center;
}

.verbat-status img {
	width: 55%;
}
.verbatim-alerts-panel {
	min-height: 350px;
}

/*** VERBATIM ****/

.responses-count {
	padding: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35pt;
	font-weight: bolder;text-align: center;
	color: #cf002f;
}

.responses-count span{
	color: #333;
	text-transform: uppercase;
}

.concern-alerts {
	margin-top: 20px;
}

.concern-alerts ul li{
	font-size: 14pt;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
	list-style: none;
	margin-left: -20px;
}

.concern-alerts ul a {
	float: right;
	color: #cf002f;
	margin-right: 7%;
}
.concern-alert-title {
	color: #430007;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14pt;
	text-align: center;
	margin-bottom: 15px;
}

/**** TOP FLOP ***/
.top-flop {
	/*box-shadow: #d6d6d6 0px 0px 6px;*/
	/*border: 1px solid #dfdfdf;*/
	padding: 15px;
	/*background-color: #f7eee7;*/
}

.top-flop-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 15pt;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 8px;
}

.top-flop-score {
	float: right;
	clear: both;
	font-weight: bold;
	font-size: 12pt;
}

.flop-title {
	border-bottom: 5px double #cf002f;
}

.flop-title .fa {
	color: #cf002f;
}

.top-title {
	border-bottom: 5px double #4f778b;
}

.top-title .fa {
	color: #4f778b;
}

.top-ranking, .flop-ranking {
	padding-top: 15px;
	margin-left: -20px;
}

.top-ranking li, .flop-ranking li {
	margin: 5px 0px;
}

/**** Score global ****/
.score-global-label {
	position: absolute;
	left: 133px;
	top: 77px;
	font-size: 11pt;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.global-score-panel {
	/* box-shadow: #d6d6d6 0px 0px 6px; */
	/*border: 1px #dfdfdf solid;*/
	padding: 0px 15px;
	/*background-color: #f7eee7;*/
}
.global-categories {
	padding: 10px;
	text-align: center;
}
.global-category {
	width: 33.333%;
	float: left;
}

.global-category-title {
	text-align: center;
	text-transform: uppercase;
	color: #cf002f;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12pt;
}

.global-category-title span {
	color: #430007;
}

.global-category-score {
	color: #222;
	font-size: 20pt;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	text-align: center;
	transition: 0.4;
}

.global-category-score small {
	font-size: 15pt;
}
.global-category-denominator {
	font-size: 11pt;
	border-top: 1px solid #444;
	padding-top: 5px;
}

@media only screen and (min-width: 640px) {
	.global-category-title {
		font-size: 19pt;
	}
	.global-category-score {
		font-size: 42pt;
	}
	.global-category-score small {
		font-size: 25pt;
	}
	.global-category-denominator {
		font-size: 18pt;
	}
}


.legend-global-score div {
	padding-left: 10px;
	margin: 1px;
}
.legend-global-score .first {
	border-left: 20px solid #cf002f;
}
.legend-global-score .second {
	border-left: 20px solid #8786a2;
}
.legend-global-score .third {
	border-left: 20px solid #aaa;
}

div.zz-tooltip {   
	position: absolute;           
	text-align: center;               
	padding: 5px;             
	font: 12px sans-serif;        
	background: #555;   
	color: #fff;
	border: 0px;      
	border-radius: 5px;           
	pointer-events: none;
	text-decoration: none;     
}

.focus-meat-panel {
	width: 100%;
	padding: 15px;
	padding-bottom: 0px;
	min-height: 180px;
}

.focus-meat-panel.mystery-visit {
	background: #f7eee7;
	box-shadow: #d6d6d6 0px 0px 6px;
	border: 1px solid #d6d6d6;
}

.focus-meat-mascot {
	width: 100%;
}
.focus-meat-score {
	font: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 33pt;
}

.focus-meat-score small {
	font-size: 20pt;
	text-transform: uppercase;
}

.focus-meat-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 16pt;
}

.focus-meat-title span {
	color: #cf002f;
}

.note-panel {
	font-size: 9pt;
    padding: 5px;
}

.verbat-container .note-panel {
	margin: 20px;
}
#scoreGlobalScore {
	font-size: 28pt;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	position: absolute;
	top: 70px;
	left: 77px;
}

#scoreGlobalScore small {
	font-size: 20pt;
	text-transform: uppercase;
}