<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" ng-show="title">
				<button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" ng-bind="title"></h4>
			</div>
			<div class="modal-body">
				<form class="form">
				  <div class="form-group">
					<label for="exampleInputName2"><i class="fa fa-envelope"></i> Adresse e-mail</label>
					<input type="text" class="form-control" id="exampleInputName2">
				  </div>
				</form>
			</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Envoyer</button>
			</div>
		</div>
	</div>
</div>